   
    /*----------------- responsive ------------------*/
    $mobile-max: 768px;
    $desktop: 992px;

        @mixin mobile{
            @media (max-width: #{$mobile-max}){
                @content;
            }
        }
        
        
        
        @mixin desktop{
            @media (min-width: #{$mobile-max}){
                @content;
            }
        }

    /*----------------- predefined classes-------------------*/

    .pointer{
        cursor:pointer;
        }

        
        .center-hr{
            margin-left: 50%;
            transform: translateX(-50%);
        }
        
        .center-vr{
            top: 50%;
            position: relative;
            transform: translateY(-50%);
        }
        
        
        
        .hide-desktop{
            @include desktop{
                display: none !important;
            }
        }
        
        .hide-mobile{
            @include mobile{
                display: none !important;
            }
        }

        body,html{
            overflow-x:hidden;
            padding-left: 7px;
            font-family: "Roboto" !important;
            min-height: 100%;
            margin: 0px !important;
            padding: 0px !important;

            @include mobile{
                padding-left: 14px;
            }
            
        }

        .loading{
            width: 100%;
            height: 115%;
            background: rgba(0,0,0,0.5);
            position: fixed;
            display: none;
            

            @include desktop{
                margin-left: 10px;
                margin-top: -10%;
            }

            @include mobile{
                margin-left: -13px;
                margin-top:-5%;
            }

            .loading-gif{
                position: absolute;
                top:40%;
                left:37%;
                width: 120px;

            }
        }

        /*----------------- override bootstrap -------------------*/

        .form-control{
            max-width: 70%;
        }

        .modal-open .modal{
            overflow: hidden;
        }

        input[type="text"],input[type='number'],input[type='password']{
            border-radius:100px;
        }

        .form-control:focus{
            border: thin solid #3498DB !important;
            box-shadow: none !important;
        }

        .container-fluid{
            padding: 0px !important;
            margin: 0px !important;
        }

        .btn-default{
            background: #bdc3c7;
        }

        .btn-default:hover{
            background: #95a5a6 !important;
        }

    /*----------------- side menu styles-------------------*/
    .menu-container{
        z-index: 3;
    }
    .menu-toggle{
        background: #34495e;
        padding: 9px 15px;
        height: 51.5px !important;

        i{
            color: #fff;
        }
    }

    .logo{
        background: linear-gradient( 109.6deg,  rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
	    animation-name: backclr;
	    animation-duration: 10s;
	    animation-iteration-count: infinite;
	    animation-timing-function: linear;
    }

    .left-menu{
            
        z-index: 3;
        display: block;
        width: 300px;
        background: #34495e;
        margin: 0px;
        padding-top: 0px;
        height: 1000px;
        overflow-y: auto;
        border-right: 2px solid #2c3e50;
        transition: all 0.35s ease;
        

        @include mobile{
            border:none;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
            margin-left: -193px;
            width: 220px;
            box-shadow: none;
        }

    
    
    .list{
        color: #fff;
        list-style-type: none;
        padding-top: 0px;
        padding-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
     li{
        display: flex;
        align-content: center;
        justify-content: flex-start;
        padding-left: 30px;
        cursor: pointer;
        margin-top: 0px;
        padding-top: 22px;
        padding-bottom: 15px;
    }
    
    li i{
        margin-left: auto;
        margin-right: 30px;
        transition: transform 0.3s ease; 
    }
    
    .sub h3{
        font-weight: 300;
        font-size: 20px;

        @include mobile{
            font-size: 16px;
        }
    }
    
    .sub{
        display: none;
        background: #2c3e50;
        transition: background 0.3s ease;
    }
    
    .sub:hover{
        background: #212F3D;
    }
    
    .main{
        width: 100%;
        margin-left: 300px;
        text-align: center;
    }
    
    .top{
        transition: all 0.3s ease;
        text-transform: uppercase;
        
    }
    
    .top h3{
        font-weight: 400;
        font-size: 18px;

        @include mobile{
            font-size: 14px;
        }
    }
    
    .top:hover{
        background:#e74c3c; 
        
    }
    
    .rotatedown{
        transform: rotate(90deg);
    }
    
    
}

.menu-header{
    height: 100px;
    padding-top: 32px;
    border-bottom: 2px solid #2c3e50;
}

.menu-footer{
    background: #2c3e50;
    color: #eee;
    padding-top: 15px;
    a{
        color: #eee;
    }
    position: fixed;
    bottom: 0;
    width: inherit;
    
}

/*----------------- pages container -------------------*/
.page-container{
    width:100%;
    z-index: 1;
    min-height: 100%;
    background: #fefefe;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;


    @include desktop{
        padding-left: 275px;
        padding-right: 0px;
        padding-top: 50px;
    }



    .page-title{
        @include mobile{
            margin-left: 85px;
            margin-top: 6px;
            font-size: 20px;
        }
    }

}

.pre-input{
    background: #e74c3c;
    color: #fff;
    padding: 10px 15px;
    transition: all 0.3s ease;
    
}

.pre-input:hover{
    background-clip: content-box;
    background: #c53829;
}

.search-box{
    font-size: 19px;
    height: 45px;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

/*----------------- browse products -------------------*/
.table-container{
    margin-top: 30px;
    border-radius: 50px !important;

    table{

        thead{
            background: #34495e;
            color: #fff;
            th{
                border-bottom: 5px solid #2c3e50;
            }
        }

        tbody{
            border:thin solid #eee;

            td{
                border-top: 1px solid #e2e1e3;
            }
        }

    }
}


.current-pg{
    background: #0069d9 !important;
}

.modal{
    z-index: 9999 !important;
}

.modal-img{
    img{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        @include mobile{
            width: 100%;
        }
    }
}

.modal-details{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    box-sizing: content-box;

    p{
        max-width: 100%;
    }
}

.modal-body{
    overflow-y: auto;
    overflow-x: hidden;
    
    
}

.modal-content{
    max-height: 95vh;
}


/*----------------- add new product -------------------*/
#price{
    width:200px;
}

#submitBtn{
    @include desktop{
        margin-right: 30% !important;
    }
}

#preview{
    border-radius: 10px;
}

/*----------------- login page --------------------- */
.logo{
    font-family: 'Righteous' !important;
}

.divider{
    height: 2px;
    width: 100%;
    background: #EEE6E6;
}

.login-page{
    width: 100% !important;
    height: 100% !important;
    min-height: 100% !important;

    .bg{
        z-index: 1;
        width: 100% !important;
        height: 100% !important;
        background: url("../assets/loginbg.jpg");
        position: absolute;
        background-size: cover;
    }

    .grad{
        z-index: 2;
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        display: block;
	    opacity: 0.8;
	    background: linear-gradient(120deg, #5B617B, #111d29);
	    background-size: 200% 100%;
	    animation-name: backclr;
	    animation-duration: 7s;
	    animation-iteration-count: infinite;
	    animation-timing-function: linear;
    }

    .login-box{
        z-index: 3;
        width: 400px;
        background: #fefefe;
        display: block;
        position: absolute;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(0, 0, 20px, 0.1);
        margin-left: 50%;
        margin-top: 10%;
        transform: translateX(-50%);

        

        .box-title{
            font-size: 22px;
            font-weight: 200;
        }

        label{
            font-size: 18px;
            color: #7F8C8D;
            margin-top: 4px;
        }

        .login-btn{
            display: block;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
        }

        
        @include mobile{
            padding: 10px;
            width: 100% !important;
            margin-top: 0px;
            margin-left: auto;
            margin-right: auto;
            transform: none;
            border-radius: 0px;

            .logo{
                font-size: 22px;
            }

            .box-title{
                font-size: 20px;
            }

            input{
                width: auto !important;
            }

            .form-group{
                margin-left: auto;
                margin-right: auto;
                width: 320px !important;
            }

            label{
                font-size: 16px;
            }
        }
    }


}

/*----------------- home page --------------------- */
.user-card{
    z-index: 1;
    @include mobile{
        flex-direction: column;
    }

    

    
}

.admin-avatar{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.edit-admin{
    .form-control{
        max-width: 100% !important;
    }
}

.date-card{

    @include desktop{
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        padding-left: 50px;
    }

    h5{
        margin-top: 18px;
        color:#34495e;
    }

    .exact-time{
        font-family: 'Orbitron' !important;
        font-size: 24px;
        margin-left: -15px;
        margin-top: 5px;
    }
}

.latest-products{
    margin-top: 70px;

    .latest-container{
        margin-top: 50px;

        img{
            width: 130px;
            height: 130px;
            object-fit: cover;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
        }

        h5{
            margin-top: 15px !important;
        }

        p{
            color: #ccc;
        }
    }
    
    
}



/*----------------- animations --------------------- */

@keyframes backclr {
    0% {
   background-position:0% 50%
   }
    50% {
   background-position:100% 50%
   }
    100% {
   background-position:0% 50%
   }
   }


   ::-webkit-scrollbar {
            width: 5px;
        }
        ::-webkit-scrollbar-track {
            background: #FFF;
            -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
        }
        ::-webkit-scrollbar-thumb {
            background: #e74c3c;
            -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #AAA;
        }
        ::-webkit-scrollbar-thumb:active {
            background: #888;
            -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
        }